<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="https://s3.hrkt.org/minecraft/servers/OasisSMP/icon.png"/>
        <span id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></span>
        <span id="welcomeDescription"><%- lang('welcome.welcomeDescription') %></span>
        <span id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></span>
        <button id="welcomeButton"><%- lang('welcome.continueButton') %></button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>